* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(250, 250, 250, 1);
  color: rgba(58, 58, 58, 1);
  border-top: 4px solid rgba(0, 193, 147, 1);
}

html {
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Inter-Regular.woff2") format("woff2"),
    url("./fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Inter-Medium.woff2") format("woff2"),
    url("./fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Inter-Bold.woff2") format("woff2"),
    url("./fonts/Inter-Bold.woff") format("woff");
}

h1 {
  font-size: 48px;
  line-height: 57px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 21px;
  line-height: 29px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  max-width: 500px;
  margin-bottom: 24px;
  color: #fff;
}

h3 {
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  color: rgba(0, 193, 147, 1);
  margin: 0;
  padding-right: 24px;
}

h5 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: rgba(58, 58, 58, 0.7);
}

h4 {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgba(58, 58, 58, 0.3);
}

p {
  line-height: 24px;
}

a,
a:visited {
  color: rgba(0, 193, 147, 1);
}

a:hover {
  color: rgba(0, 193, 147, 0.5);
}

button:focus {
  outline: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 61.25rem;
}

// Hero screen

.hero-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.hero-title {
  width: 50%;
  text-align: center;
}

.highlite {
  color: rgba(0, 193, 147, 1);
}

.hero-text {
  color: rgb(124, 124, 124);
  margin: 16px 0 0 0;
}

.hero-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.switch {
  height: 28px;
  cursor: pointer;
  input {
    display: none;
    & + span {
      padding-left: 50px;
      min-height: 28px;
      line-height: 28px;
      display: block;
      position: relative;
      white-space: nowrap;
      transition: color 0.3s ease;
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 20px;
      }
      &:before {
        top: 0;
        left: 0;
        width: 52px;
        height: 28px;
        background: rgba(46, 54, 66, 1);
        transition: all 0.3s ease;
        background-image: url(../images/night.svg);
        background-position: 80% 50%;
        background-repeat: no-repeat;
      }
      &:after {
        width: 24px;
        height: 24px;
        background: rgba(250, 250, 250, 1);
        top: 2px;
        left: 2px;
        box-shadow: 0 1px 3px rgba(#121621, 0.1);
        transition: all 0.45s ease;
      }
    }
    &:checked {
      & + span {
        &:before {
          background: rgba(46, 54, 66, 1);
          background-image: url(../images/day.svg);
          background-position: 20% 50%;
          background-repeat: no-repeat;
        }
        &:after {
          background: rgba(250, 250, 250, 1);
          transform: translate(24px, 0);
        }
      }
    }
  }
}

// Navigation

.navigation {
  margin: 80px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a.button-nav {
  padding: 16px 24px;
  background-color: white;
  box-shadow: 0px 15px 20px rgba(165, 165, 165, 0.15);
  border: 2px solid rgba(0, 117, 106, 0);
  border-radius: 10px;
  text-decoration: none;
  color: rgba(58, 58, 58, 1);
  font-weight: 500;
  margin: 8px;
  display: flex;
  align-items: center;
}

.button-nav:hover {
  border: 2px solid rgba(0, 193, 147, 1);
  color: rgba(0, 193, 147, 1);
}

.button-nav__icon {
  padding-right: 4px;
}

// Categories

.categories-list {
  padding: 0;
}

.category {
  margin-bottom: 80px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(165, 165, 165, 0.15);
}

.category__content--hidden {
  display: none;
}

.category-heading {
  background-color: rgba(236, 255, 244, 0.3);
  padding: 24px 32px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}

.category-heading__icon {
  padding-right: 8px;
  position: relative;
  top: 4px;
}

.category-heading__round {
  @extend .category-heading;
  border-radius: 10px;
}

.category-heading__title {
  display: flex;
  align-items: baseline;
}

.category-progress {
  color: rgba(58, 58, 58, 1);
  font-weight: 500;
}

.category-progress_bar {
  width: 100px;
  height: 4px;
  background-color: rgba(216, 216, 216, 1);
  border-radius: 10px;
  display: inline-block;
  margin-right: 12px;
  position: relative;
  bottom: 3px;
}

.category-progress_bar > span {
  display: block;
  background-color: rgba(58, 58, 58, 1);
  height: 100%;
  border-radius: 10px;
}

.category-progress_bar--animation {
  transition: 0.3s;
}

.round-button {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 100%;
  background-color: rgba(0, 193, 147, 0.1);
  margin-left: 24px;
  line-height: 50%;
  position: relative;
}

.round-button:hover {
  background-color: rgba(0, 193, 147, 0.2);
}

.round-button:focus {
  outline: 0;
}

.round-button > svg {
  position: relative;
  top: 3px;
}

.round-button__hide > svg {
  position: relative;
  right: 2px;
  top: 1px;
}

.round-button__icon--hide {
  display: none;
}

.round-button .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: rgba(58, 58, 58, 1);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 12px 0;
  position: absolute;
  z-index: 1;
  bottom: 160%;
  left: 50%;
  margin-left: -50px;
}

.round-button .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(58, 58, 58, 1) transparent transparent transparent;
}

.round-button:hover .tooltiptext {
  visibility: visible;
}

.category__table-titles {
  display: flex;
  margin-left: 32px;
}

.category__table-titles h5:first-child {
  width: 432px;
  margin-right: 96px;
}

.category__table-titles h5:nth-child(2) {
  margin-right: 96px;
}

.category-item {
  display: flex;
  align-items: center;
  max-width: 980px;
  padding: 24px 32px;
  border-top: 1px solid rgba(58, 58, 58, 0.1);
}

.category-checkbox {
  display: flex;
  align-items: baseline;
}

.category-item__description {
  margin-left: 16px;
  margin-right: 96px;
  display: inline-block;
  width: 400px;
  line-height: 150%;

  &:hover {
    cursor: pointer;
  }
}

.checkbox-hidden {
  display: none;
}

.checkbox-visible {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }
}

.implementation-tag,
.impact-tag {
  width: 185px;
}

.implementation-tag-easy,
.impact-tag-high {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 2px 8px;
  color: rgba(111, 207, 151, 1);
  border: 1px solid rgba(111, 207, 151, 1);
}

.implementation-tag-medium,
.impact-tag-medium {
  @extend .implementation-tag-easy;
  color: rgba(242, 201, 76, 1);
  border: 1px solid rgba(242, 201, 76, 1);
}

.implementation-tag-hard,
.impact-tag-low {
  @extend .implementation-tag-easy;
  color: rgba(235, 87, 87, 1);
  border: 1px solid rgba(235, 87, 87, 1);
}

// Checkbox selected
input[type="checkbox"]:checked + span.checkbox-visible {
  background-image: url(../images/checked.svg);
}

input[type="checkbox"]:checked
  + span.checkbox-visible
  + span.category-item__description {
  text-decoration: line-through;
  opacity: 0.5;
}

.impact-tag-checked,
.implementation-tag-checked {
  @extend .impact-tag-high;
  color: rgba(196, 196, 196, 1);
  border: 1px solid rgba(196, 196, 196, 1);
}

// Accordion
.accordion__button {
  position: relative;
  top: 3px;
}

.accordion__button[aria-expanded="true"] > svg {
  transform: rotate(180deg);
}

.accordion__button:hover {
  cursor: pointer;
}

.accordion__button:focus {
  outline: 0;
}

.accordion__panel {
  background: rgba(250, 250, 250, 1);
  padding: 16px 64px;
  font-size: 14px;
}

// Footer

.footer {
  background-color: rgba(46, 54, 66, 1);
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-generic {
  width: 156px;
  height: 40px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-generic:hover {
  cursor: pointer;
  opacity: 0.9;
}

.button-main {
  background-color: rgba(0, 193, 147, 1);
  color: white;
  border: none;
}

.button-icon {
  margin-right: 6px;
}

.button-center {
  margin-bottom: 48px;
}

.captcha {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
