* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(250, 250, 250, 1);
  color: rgba(58, 58, 58, 1);
  border-top: 5px solid rgba(0, 117, 106, 1);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Inter-Regular.woff2") format("woff2"),
    url("./fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Inter-Medium.woff2") format("woff2"),
    url("./fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Inter-Bold.woff2") format("woff2"),
    url("./fonts/Inter-Bold.woff") format("woff");
}

h1 {
  font-size: 48px;
  line-height: 57px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  color: rgba(0, 117, 106, 1);
  margin: 0;
  padding-right: 24px;
}

h5 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: rgba(58, 58, 58, 0.7);
}

h4 {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgba(58, 58, 58, 0.3);
}

p {
  line-height: 24px;
}

.wrapper {
  margin: 0 auto;
  max-width: 61.25rem;
}

.hero-screen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.hero-title {
  width: 50%;
}

.hero-form {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 15px 40px rgba(165, 165, 165, 0.15);
  border-radius: 10px;
}

.button-main {
  padding: 11px 20px;
  background-color: rgba(0, 117, 106, 1);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;
  border: none;
}

.pattern {
  position: absolute;
  top: 60px;
  z-index: -1;
}

.navigation {
  margin: 80px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-nav {
  padding: 16px 24px;
  background-color: white;
  box-shadow: 0px 15px 40px rgba(165, 165, 165, 0.15);
  border: 2px solid rgba(0, 117, 106, 0);
  border-radius: 10px;
  text-decoration: none;
  color: rgba(58, 58, 58, 1);
  font-weight: 500;
  margin: 8px;
}

.button-nav:hover {
  border: 2px solid rgba(0, 117, 106, 1);
  color: rgba(0, 117, 106, 1);
}

.categories-list {
  padding: 0;
}

.category {
  margin-bottom: 80px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 15px 40px rgba(165, 165, 165, 0.15);
}

.category-heading {
  background-color: rgba(0, 117, 106, 0.08);
  padding: 24px 32px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}

.category-heading__title {
  display: flex;
  align-items: baseline;
}

.category-progress {
  font-weight: 700;
}

.round-button {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 100%;
  background-color: rgba(0, 117, 106, 0.1);
  margin-left: 24px;
  line-height: 50%;
}

.round-button:hover {
  background-color: rgba(0, 117, 106, 0.2);
}

.round-button:focus {
  outline: 0;
}

.category__table-titles {
  display: flex;
  margin-left: 32px;
}

.category__table-titles h5:first-child {
  width: 432px;
  margin-right: 96px;
}

.category__table-titles h5:nth-child(2) {
  margin-right: 96px;
}

.category-item {
  display: flex;
  align-items: flex-start;
  max-width: 980px;
  padding: 24px 32px;
  border-top: 1px solid rgba(58, 58, 58, 0.1);
}

.category-item__description {
  margin-left: 16px;
  margin-right: 96px;
  display: inline-block;
  width: 400px;
}

.implementation-tag {
  display: inline-block;
  width: 185px;
}

.implementation-tag-easy,
.impact-tag-high {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(111, 207, 151, 1);
  border: 1px solid rgba(111, 207, 151, 1);
  border-radius: 4px;
  padding: 2px 8px;
  width: 49px;
}

.implementation-tag-medium,
.impact-tag-medium {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(242, 201, 76, 1);
  border: 1px solid rgba(242, 201, 76, 1);
  border-radius: 4px;
  padding: 2px 8px;
  width: 68px;
}

.implementation-tag-hard {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(235, 87, 87, 1);
  border: 1px solid rgba(235, 87, 87, 1);
  border-radius: 4px;
  padding: 2px 8px;
  width: 51px;
}

.impact-tag-low {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(235, 87, 87, 1);
  border: 1px solid rgba(235, 87, 87, 1);
  border-radius: 4px;
  padding: 2px 8px;
  width: 45px;
}
